MUSE_IMAGE=ghcr.io/haxurus/muse:latest
CACHE_LIMIT=2GB
REGISTER_COMMANDS_ON_BOT=false
ENABLE_SPONSORBLOCK=false
SPONSORBLOCK_TIMEOUT=5
BOT_STATUS=online
BOT_ACTIVITY_TYPE=LISTENING
BOT_ACTIVITY=music
ALLOW_HTTP_STREAMS=false
HTTP_STREAM_ALLOWED_HOSTS=
